# Ignore default config file for testing
glauth.cfg

# Ignore the built binary during testing
glauth

# Ignore generated certs in this folder
certs/

# Built binaries
bin

pkg/assets/bindata.go

.*.swp

# Ignoring travis CLI tool logs
*travis.log

certs/

# Local files
local/
