# Ignore default config file for testing
glauth.cfg

# Ignore the built binary during testing
glauth

# Ignore generated certs in this folder
certs/

# Built binaries
bin

.*.swp

certs/

# Local files
local/
